* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
nav {
    /* height: 50px; */
    /* test */

    background-color: #ADD8E6;
}

.container {
    /* background-color: yellow; */
    /* test */

    display: flex;
    max-width: 1192px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: flex;
    justify-content: space-between;

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #ADD8E6;

}

.container #logo1 {
    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    min-width: 236px;
}


#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    gap: 12px;

    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    list-style-type: none;
}

.container #login1 {
    display: flex;
    flex-direction: row-reverse;

    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    min-width: 236px;

}

/* fine navbar */

/* prima sezione */
#first-section {
    /* height: 200px; */
    /* test */
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;


    background-color: #00008B;

}

.container .call-to-action {

    min-width: 900px;
    height: 394px;

    background-color: #EE82EE;
    border: 2px dashed black;
}

/* fine prima sezione */

/* seconda sezione */
#second-section {

    padding-top: 48px;
    padding-bottom: 48px;


    background-color: white;
}

#second-section .container {
    height: 492px;
    display: flex;
    justify-content: center;
}

.paragraph {
    flex-grow: 1;
    min-width: 50%;
    background-color: #1E90FF;
    border: 2px dashed black;
}

.picture {
    width: 475px;

    background-color: #FFC0CB;
    border: 2px dashed black;
}