* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
nav {
    /* height: 50px; */
    /* test */

    background-color: #ADD8E6;
}

.container {
    /* background-color: yellow; */
    /* test */

    display: flex;
    max-width: 1192px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: flex;
    justify-content: space-between;

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #ADD8E6;

}

.container #logo1 {
    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    min-width: 236px;
}


#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    gap: 12px;

    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    list-style-type: none;
}

.container #login1 {
    display: flex;
    flex-direction: row-reverse;

    padding: 12px;

    background-color: #DAA520;
    border: 2px dashed black;

    min-width: 236px;

}

/* fine navbar */

/* prima sezione */
#first-section {
    /* height: 200px; */
    /* test */

    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #00008B;
}

#first-section .container {
    display: flex;
    justify-content: center;
}


.container .call-to-action {
    min-width: 900px;
    height: 394px;

    background-color: #EE82EE;
    border: 2px dashed black;
}

/* fine prima sezione */

/* seconda e quarta sezione */
#second-section,
#fourth-section {

    padding-top: 48px;
    padding-bottom: 48px;

    background-color: white;
}

#second-section .container,
#fourth-section .container {
    height: 492px;
    display: flex;
    justify-content: center;
}

.paragraph {
    flex-grow: 1;
    background-color: #1E90FF;
    border: 2px dashed black;
}

.picture {
    width: 475px;

    background-color: #FFC0CB;
    border: 2px dashed black;
}

/* fine seconda e quarta sezione */

/* terza sezione */
#third-section {

    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #D3D3D3;
}

#third-section .container {
    height: 492px;
    display: flex;
    justify-content: center;
}

/* fine terza sezione */

/* quinta sezione */
#fifth-section {
    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #D3D3D3;
}

#fifth-section .container {
    display: flex;
    justify-content: center;
}

.container .image {
    flex-grow: 1;
    height: 890px;

    background-color: #228B22;
    border: 2px dashed black;
}